Source: indexer
Section: python
Priority: optional
Maintainer: Sylvain Thenault <sylvain.thenault@logilab.fr> 
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.2

Package: python-indexer
Architecture: all
Depends: python
Suggests: postgresql-contrib-8.0 | postgresql-contrib-7.4
Provides: python2.2-indexer, python2.3-indexer
Conflicts: python2.2-indexer, python2.3-indexer
Replaces: python2.2-indexer, python2.3-indexer
Description: a RDBMS full text index library for python
 A library providing an abstraction for full text index in
 different RDBMS, using when possible native capabilites of the DBMS
 .
 Warning: the tsearch engine is not available in
 postgreql-contrib-8.1. Since this package does not yet work with
 tsearch2, you will have to use it with earlier versions of the
 postgresql server
